@using Microsoft.AspNetCore.Identity
@using AgroShopApp.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index">
                Hello, @currentUser?.FirstName!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item me-2">
            <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
