@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h4>Please contact our technical support and provide the <strong>Request ID</strong>.</h4>
<div>
    <p class="text-white">If you believe this is a server error, please try again later.</p>    
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-light btn-sm rounded-pill px-4 py-2 mt-2">
    Return to Homepage
</a>
   </div>